*~
*.d
*.o
*_dict.cc
*_dict.h
*_dict.lo
*.la
*#
*.root
*in
*.deps
*.libs

autom4te.cache/
include/
lib/

*Makefile
config*
aclocal.m4
compile
depcomp
install-sh
libtool
ltmain.sh
missing
setup.sh
sources/Core/include/TArtConfig.hh
sources/Core/include/stamp-h1